body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar formázás */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Tartalom formázás */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

/* lábléc formázás */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
#urlap{
    background-image: url(trabi.jpg);
    color: #ccc;
}
html{
    border: auto black ;
}
#tortenet{
    body{
        background-image: url(trabi2.jpg);
        background-size: 100%;
        background-repeat: repeat;
        background-position: center;
        background-attachment: scroll;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
}